<!DOCTYPE html>
<html>
<head><title>Login</title></head>
<body>
    <h1>Iniciar Sesión</h1>
    {% with messages = get_flashed_messages() %}
        {% for msg in messages %}
            <p style="color:red">{{ msg }}</p>
        {% endfor %}
    {% endwith %}
    <form method="POST">
        <label>Usuario o Correo:</label><br>
        <input type="text" name="username"><br>
        <label>Contraseña:</label><br>
        <input type="password" name="password"><br>
        <button type="submit">Entrar</button>
    </form>
    <a href="{{ url_for('index') }}">Inicio</a>
</body>
</html>
